#!/usr/bin/env fish

# ---------------------------------------------------------------------------------------------------------------------
# Install fisher and packages
# fish_plugins hash: {{ include "dot_config/fish/fish_plugins" | sha256sum }}
# ---------------------------------------------------------------------------------------------------------------------

if ! type -q fisher
  curl -sL https://raw.githubusercontent.com/jorgebucaran/fisher/main/functions/fisher.fish | source && fisher install jorgebucaran/fisher
end

fisher update
