set -gx KUBE_EDITOR hx
set -gx VISUAL hx
set -gx EDITOR hx
set -gx GOPATH {{ .chezmoi.homeDir }}/.go
set -gx PY_COLORS true
set -gx GPG_TTY (tty)
set -gx LANG en_US.utf-8

fish_add_path --global "{{ .chezmoi.homeDir }}/.local/bin"
fish_add_path --global "{{ .chezmoi.homeDir }}/.krew/bin"
fish_add_path --global "{{ .chezmoi.homeDir }}/.go/bin"
