{{- if ne .chezmoi.os "darwin" }}
Brewfile
literal_run_one_after_00_init.sh.tmpl.literal
.macos
{{- end }}
{{- if or ( eq .chezmoi.os "linux") (eq .chezmoi.os "darwin") }}
**/*.zsh*
.antigen*
.zsh_files/**
.awx_conf.cfg
.bash_history
.vimrc
.terraform.d/**
.config/atuin/**
.config/helm/**
.config/tmux/**
{{- end }}
{{- if ne .chezmoi.os "windows" }}
vencord-settings-backup.json
dev-compose.yaml
{{- end }}
LICENSE 
README.md
