{{- if not (or (eq .chezmoi.os "linux") (eq .chezmoi.os "darwin")) }}
**/*.zsh*
.zsh_files/**
{{- if eq .machine.work }}
.bash_history
.vimrc
.terraform.d/**
.config/pet/**
.config/sops/**
.kube/**
.docker/**
.ssh/**
{{ end -}}
.config/tmux/**
{{- end }}
{{ if ne .chezmoi.os "windows" }}
vencord-settings-backup.json
{{- end }}
LICENSE
README.md

