{{- if or (eq .chezmoi.os "darwin") (eq .chezmoi.os "linux") }}
# Download Tmux Plugins
[".tmux/plugins/tpm"]
    type = "git-repo"
    url = "https://github.com/tmux-plugins/tpm"
    refreshPeriod = "168h"
{{- end }}

