###-- Powerlevel10k --###
# Instant Prompt
if [[ -r "${XDG_CACHE_HOME:-$HOME/.cache}/p10k-instant-prompt-${(%):-%n}.zsh" ]]; then
  source "${XDG_CACHE_HOME:-$HOME/.cache}/p10k-instant-prompt-${(%):-%n}.zsh"
fi

###-- Zinit --###
# Set directory
ZINIT_HOME="${XDG_DATA_HOME:-${HOME}/.local/share}/zinit/zinit.git"
# Source Zinit
source "${ZINIT_HOME}/zinit.zsh"

# Theme
zinit ice depth=1; zinit light romkatv/powerlevel10k

# Zsh Plugins
zinit light zsh-users/zsh-autosuggestions
zinit light Aloxaf/fzf-tab
zinit light zsh-users/zsh-syntax-highlighting

# Snippets
zinit snippet OMZP::z
zinit snippet OMZP::git
zinit snippet OMZP::colored-man-pages

###-- Autocompletes --###
# Custom Completions
{{- if (and .machine (index .machine "work")) }}
autoload -Uz compinit
compinit
{{- end }}
export CARAPACE_BRIDGES='zsh'
source <(carapace _carapace)

# Completion styling
zstyle ':completion:*' matcher-list 'm:{a-z}={A-Za-z}'
zstyle ':completion:*' list-colors "${(s.:.)LS_COLORS}"
zstyle ':completion:*' menu no
zstyle ':fzf-tab:complete:cd:*' fzf-preview 'ls --color $realpath'

###-- Shell integrations --###
export DIRENV_LOG_FORMAT=
eval "$(fzf --zsh)"
eval "$(direnv hook zsh)"

# To customize prompt, run `p10k configure` or edit ~/.p10k.zsh.
[[ ! -f ~/.p10k.zsh ]] || source ~/.p10k.zsh

###-- Sources --###
source ~/.zsh_files/aliases.zsh
source ~/.zsh_files/kube_aliases.zsh
source ~/.zsh_files/utils.zsh

###-- Paths --###
export PATH="${KREW_ROOT:-$HOME/.krew}/bin:$PATH"

###-- Settings --###
bindkey -e
bindkey '^p' history-search-backward
bindkey '^n' history-search-forward
bindkey '^[w' kill-region
bindkey "^[[1;5C" forward-word
bindkey "^[[1;5D" backward-word
autoload -U select-word-style
select-word-style bash

export KUBE_EDITOR='nvim'
export EDITOR='nvim'

# zsh_history
HISTSIZE=10000000
SAVEHIST=10000000
HISTFILE=~/.zsh_history
HISTDUP=erase
setopt appendhistory
setopt sharehistory
setopt hist_ignore_space
setopt hist_ignore_all_dups
setopt hist_save_no_dups
setopt hist_ignore_dups
setopt hist_find_no_dups

ZSH_AUTOSUGGEST_STRATEGY=(history completion)

