{{- if  or (eq .chezmoi.os "linux") (eq .chezmoi.os "darwin") }}
#!/usr/bin/env bash

if ! [ -x "$(command -v git)" ]; then
  echo "Error: git is required." >&2
  exit 1
fi

git clone https://github.com/tmux-plugins/tpm ~/.tmux/plugins/tpm
{{- end }}
