{{ if eq .chezmoi.os "darwin" -}}
Include ~/.orbstack/ssh/config
{{ end -}}

Host *
     IdentityFile ~/.ssh/main
     User chkpwd

Host ct-01-ec2
     HostName 44.200.120.216
     User admin
     IdentityFile ~/.ssh/aws

Host hass-srv-01
     HostName 172.16.16.8
     User chkpwd
     IdentityFile ~/.ssh/main
     Port 23
