{{ if eq .chezmoi.os "darwin" -}}
Include /Users/{{ .chezmoi.username }}/.colima/ssh_config
{{ end -}}

Host *
     IdentityFile ~/.ssh/main
     User chkpwd

Host ct-01-ec2
     HostName 54.145.97.133
     User admin
     IdentityFile ~/.ssh/aws

Host ct-01-oci
     HostName 129.80.54.203
     User ubuntu
     IdentityFile ~/.ssh/oci

Host ct-02-oci
     HostName 141.148.13.11
     User ubuntu
     IdentityFile ~/.ssh/oci

Host hass-srv-01
     HostName 172.16.16.8
     User chkpwd
     IdentityFile ~/.ssh/main
     Port 23
