# K3s - public key: age1svjsaslsjmma973szm9x2slcqduz9swzyqtfszg64tsrrs95qsrspynuyw
{{ (bitwarden "item" "Age Secret - Kubernetes").notes }}

# Terraform - public key: age1mt8vvreywnq0972a6y5sxa6klqn8jfezkurkm2trsav42mk56gcqkcu276
{{ (bitwarden "item" "Age Secret - Terraform").notes }}

# Ansible - public key: age1px4x0vvgsswsm3r776amtst86yelp7rq48f0k4fmmnnq750ux3ds28cx2h
{{ (bitwarden "item" "Age Secret - Ansible").notes }}
