# public key: age1mt8vvreywnq0972a6y5sxa6klqn8jfezkurkm2trsav42mk56gcqkcu276
{{ (bitwarden "item" "Age Secret - IaC").notes }}

# public key: age1svjsaslsjmma973szm9x2slcqduz9swzyqtfszg64tsrrs95qsrspynuyw
{{ (bitwarden "item" "Age Secret - Kubernetes").notes }}
