tap "hashicorp/tap"
tap "siderolabs/tap"

# Base CLI
brew "coreutils"
brew "curl"
brew "git"
brew "htop"
brew "tree"
brew "unzip"
brew "wget"

# Networking / Diagnostics
brew "drill"
brew "ipcalc"
brew "mtr"
brew "nmap"
brew "sshpass"

# Shell / Terminal UX
brew "bat"
brew "fd"
brew "fish"
brew "fzf"
brew "ripgrep"
brew "tmux"

# Dev / Build
brew "age"
brew "ansible-lint"
brew "asciinema"
brew "awscli"
brew "chezmoi"
brew "crane"
brew "gh"
brew "go"
brew "helix"
brew "iperf3"
brew "jq"
brew "krew"
brew "kubernetes-cli"
brew "node"
brew "poetry"
brew "pre-commit"
brew "restic"
brew "ruff"
brew "sops"
brew "terraform"
brew "tflint"
brew "yamlfmt"
brew "yamllint"
brew "yq"

# Tools / Infra
brew "adb-enhanced"
brew "act"
brew "bitwarden-cli"
brew "govc"
brew "imagemagick"
brew "minio-mc"
brew "postgresql"
brew "talhelper"
brew "talosctl"
brew "yt-dlp"
brew "mas"
brew "ffmpeg"
brew "ente-cli"


# GUI Applications
cask "appcleaner"
cask "audacity"
cask "autodesk-fusion"
cask "betterdisplay"
cask "discord"
cask "firefox"
cask "google-chrome"
cask "iina"
cask "iterm2"
cask "itsycal"
cask "keycastr"
cask "loopback"
cask "moonlight"
cask "obs"
cask "ollama-app"
cask "orbstack"
cask "orcaslicer"
cask "plex"
cask "qbittorrent"
cask "raspberry-pi-imager"
cask "slack"
cask "spotify"
cask "steam"
cask "the-unarchiver"
cask "transmit"
cask "visual-studio-code"
cask "wireshark-app"
cask "zoom"

# Mac App Store
mas "1Password for Safari", id: 1569813296
mas "Microsoft Remote Desktop", id: 1295203466
mas "Nautik", id: 1672838783
mas "Sink It for Reddit", id: 6449873635
mas "Twingate", id: 1501592214
mas "WhatsApp", id: 310633997
mas "Wireguard", id: 1451685025
mas "karakeeper", id: 6746722790
