tap "hashicorp/tap"
tap "fluxcd/tap"

brew "age"
brew "ansible"
brew "ansible-lint"
brew "asciinema"
brew "awscli"
brew "bash"
brew "bat"
brew "bitwarden-cli"
brew "chezmoi"
brew "coreutils"
brew "crane"
brew "curl"
brew "direnv"
brew "dive"
brew "drill"
brew "fd"
brew "ffmpeg"
brew "findutils"
brew "fish"
brew "fzf"
brew "gawk"
brew "gh"
brew "git"
brew "gnu-sed"
brew "go"
brew "go-task"
brew "govc"
brew "helix"
brew "helm-docs"
brew "helm-ls"
brew "helm"
brew "helmfile"
brew "htop"
brew "hwatch"
brew "ipcalc"
brew "iperf3"
brew "jq"
brew "krew"
brew "kubernetes-cli"
brew "kustomize"
brew "minikube"
brew "minio-mc"
brew "mtr"
brew "nmap"
brew "poetry"
brew "postgresql"
brew "ripgrep"
brew "ruff"
brew "sshpass"
brew "telnet"
brew "hashicorp/tap/terraform"
brew "tflint"
brew "tmux"
brew "tree"
brew "unzip"
brew "wget"
brew "yq"
brew "uv"

{{- if and .machine (index .machine "personal") }}
tap "siderolabs/tap"

brew "act"
brew "adb-enhanced"
brew "ente-cli"
brew "fluxcd/tap/flux"
brew "imagemagick"
brew "mas"
brew "minijinja-cli"
brew "pre-commit"
brew "node"
brew "sops"
brew "talhelper"
brew "talosctl"
brew "restic"
brew "yamlfmt"
brew "yamllint"
brew "yt-dlp"

cask "appcleaner"
cask "audacity"
cask "autodesk-fusion"
cask "betterdisplay"
cask "discord"
cask "google-chrome"
cask "iina"
cask "iterm2"
cask "itsycal"
cask "keycastr"
cask "loopback"
cask "moonlight"
cask "obs"
cask "ollama-app"
cask "orbstack"
cask "orcaslicer"
cask "plex"
cask "qbittorrent"
cask "raspberry-pi-imager"
cask "slack"
cask "spotify"
cask "steam"
cask "the-unarchiver"
cask "transmit"
cask "visual-studio-code"
cask "wireshark-app"
cask "zoom"

mas "1Password for Safari", id: 1569813296
mas "Microsoft Remote Desktop", id: 1295203466
mas "Nautik", id: 1672838783
mas "Sink It for Reddit", id: 6449873635
mas "Twingate", id: 1501592214
mas "WhatsApp", id: 310633997
mas "Wireguard", id: 1451685025
mas "karakeeper", id: 6746722790
mas "reMarkable desktop", id: 1276493162
{{ end }}
